.about-us {
    width: 100vw;
    height: 100vh;
    background-color: #061323;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #EFF1F3;
    background-image: url(./images/about_us.jpg);
    background-position: center;
    background-size: cover;
}

.our-team,
.history {
    width: 80vw;
    margin-left: 5vw;
}

.history {
    margin-bottom: 10vh;
}

.our-mission {
    width: 80vw;
    align-self: flex-end;
    margin-right: 5vw;
}

.our-mission h2,
.our-mission p {
    text-align: right;
}

.about-us-text {
    margin-left: 5vw;
    font-size: 2em;
}

.about-us span {
    position: relative;
}

.about-us-text span:after {
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 132, 64, 1));
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 132, 64, 1));
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 3px;
}

@media (min-width: 1024px) {

    .about-us {
        width: 50vw;
    }

    .our-team {
        width: 50%;
    }

    .our-mission {
        width: 50%;
    }

    .history {
        width: 80%;
    }
}