.about-us {
    width: 100vw;
    height: 100vh;
    background-color: #061323;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #EFF1F3;
    background-image: url(./images/about_us.jpg);
    background-position: center;
    background-size: cover;
}

.our-team {
    width: 80vw;
    margin-left: 5vw;
}

.our-mission {
    width: 80vw;
    align-self: flex-end;
    margin-right: 5vw;
}

.our-mission h2,
.our-mission p {
    text-align: right;
}

.history {
    width: 80vw;
    margin-left: 5vw;
}

@media (min-width: 1024px) {

    .about-us {
        width: 50vw;
    }

    .our-team {
        width: 50%;
    }

    .our-mission {
        width: 50%;
    }

    .history {
        width: 80%;
    }
}