:root {
    --dawnorange: #FF8440;
    --midnightblue: #061323;
    --powderwhite: #EFF1F3;
    --futuristicgrey: #BBCBD1;
    --scandiumdark: #9CABB0;
}

footer {
    background-color: var(--scandiumdark);
    width: 100vw;
    height: 100vh;
    display: block;
    bottom: 0;
    position: relative;
}

.footer-logo {
    fill: var(--midnightblue);
    stroke: var(--midnightblue);
    width: 100%;
    padding: 30% 10% 5%;
}

footer h2 {
    margin: 10% 20px 2%;
}

footer p {
    margin: 2% 20px 3%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.pdf {
    width: 35vw;
    height: 8vh;
    font-size: 1em;
    line-height: 1em;
    font-weight: 500;
    background-color: var(--futuristicgrey);
    color: var(--powderwhite);
    text-transform: uppercase;
    text-align: center;
    border: 2px solid var(--dawnorange);
    border-radius: 20px 5px 5px 3px;
    padding: 0.4em;
}

.social-media {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    width: 80vw;
    height: 10vh;
    overflow-x: hidden;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 5% 0 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: block;
    max-height: 6vh;
    width: 25%;
    margin: auto;
    text-align: center;
}

li svg {
    fill: var(--midnightblue);
}

hr {
    border: 1px solid var(--midnightblue);
    margin: 2% 20px 3%;
}

.clarification {
    font-size: 0.7em;
    text-align: center;
}