:root {
    --dawnorange: #FF8440;
    --midnightblue: #061323;
    --powderwhite: #EFF1F3;
    --futuristicgrey: #BBCBD1;
    --scandiumdark: #9CABB0;
}

footer {
    background-color: var(--scandiumdark);
    width: 100vw;
    height: 100vh;
    display: block;
    bottom: 0;
}

.footer-logo {
    fill: var(--midnightblue);
    stroke: var(--midnightblue);
    width: 100%;
    padding: 30% 10% 5%;
}

footer h2 {
    margin: 10% 20px 2%;
}

footer p {
    margin: 2% 20px 3%;
}

.social-media {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    width: 80vw;
    height: 10vh;
    overflow-x: hidden;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 5% 0 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: block;
    max-height: 6vh;
    width: 25%;
    margin: auto;
    text-align: center;
}

li svg {
    fill: var(--midnightblue);
}

hr {
    border: 1px solid var(--midnightblue);
    margin: 2% 20px 3%;
}

.clarification {
    font-size: 0.7em;
    text-align: center;
}