/* FRONT PAGE */

.frontpage {
    width: 100vw;
    height: 100vh;
}

.hero-image {
    width: 100vw;
    height: 100vh;
    background-image: url(https://media.giphy.com/media/DBbFEzsTCHE0B5nTDX/source.gif);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.slogan {
    color: #FF8440;
    font-size: 2.5em;
    margin: 0 20px 25vh;
}

@media (min-width: 1024px) {

    .slogan {
        margin: 0 70px 10vh;
    }

}