/* FRONT PAGE */

.frontpage {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.hero-video-mobile {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: absolute;
}

.hero-video-mobile img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.hero-video-desktop {
    visibility: hidden;
}

.frontpage h1 {
    color: var(--powderwhite);
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.2em;
    margin: 65vh 5vw 0;
    z-index: 2;
    position: absolute;
}

.arrow-down svg {
    z-index: 1;
    position: absolute;
    bottom: 5vh;
}

.arrow-down:hover {
    cursor: pointer;
}

@media (min-width: 1024px) {

    .frontpage h1 {
        margin: 70vh 5vw 0;
        font-size: 3.5em;
    }

    .hero-video-mobile {
        display: none;
    }

    .hero-video-desktop {
        visibility: visible;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }

    .hero-video-desktop video {
        display: block;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}