/* FRONT PAGE */

:root {
    --dawnorange: #FF8440;
    --midnightblue: #061323;
    --powderwhite: #EFF1F3;
    --futuristicgrey: #BBCBD1;
    --scandiumdark: #9CABB0;
}

.frontpage {
    width: 100vw;
    height: 100vh;
}

.hero-image {
    width: 100vw;
    height: 100vh;
    /* background-image: url(https://media.giphy.com/media/DBbFEzsTCHE0B5nTDX/source.gif);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column; */
}

.hero-image img {
    width: auto;
    height: 100vh;
}

.frontpage h1 {
    color: var(--powderwhite);
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.2em;
    margin: -35vh 4% 0;
    z-index: 1;
    position: absolute;
}

@media (min-width: 1024px) {

    .frontpage h1 {
        margin: -30vh 5% 0;
        font-size: 3.5em;
    }

    .hero-image img {
        width: 100%;
        height: auto;
    }
}