.merch {
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: left;
}

.merch h2 {
    font-size: 2rem;
    font-weight: 500;
    z-index: 1;
    position: absolute;
    margin-left: 5vw;
    margin-top: 5vh;
}

.merch h2 span {
    position: relative;
}

.merch h2 span:after {
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 132, 64, 1));
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 132, 64, 1));
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 3px;
}

.merch img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (min-width: 1024px) {

    .merch {
        width: 60vw;
        margin-left: auto;
        margin-top: -100vh;
    }

    .merch img {
        width: 100%;
        height: auto;
        object-position: 50% 50%;
        object-fit: cover;
    }

    .merch h2 {
        width: 25vw;
        text-align: right;
        right: 0;
        margin-right: 5vw;
    }

}