:root {
    --dawnorange: #FF8440;
    --midnightblue: #061323;
    --powderwhite: #EFF1F3;
    --futuristicgrey: #BBCBD1;
    --scandiumdark: #9CABB0;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: aktiv-grotesk,
        sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* NAVIGATION */

header {
    background-color: #061323;
    height: 5vh;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0;
}

.hamburgermenu {
    width: 20px;
    height: auto;
    align-self: center;
}

.logo {
    padding: 2%;
}

/* FRONT PAGE */

.frontpage {
    width: 100vw;
    height: 100vh;
}

.hero-image {
    width: 100vw;
    height: 100vh;
    background-image: url(https://trello-attachments.s3.amazonaws.com/5dbfee13f3642436185d7a1d/5dbff6b759ef1a078f1d9b39/b992ec92bbf0e70bcc7cf3fc002adcbd/orange1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* SPECIFICATIONS */

.specs {
    width: 100vw;
    height: 100vh;
}

/* MERCHANDISE */

.merch {
    width: 100vw;
    height: 100vh;
}

/* CONTACT */

.contact {
    width: 100vw;
    height: 100vh;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}