:root {
    --dawnorange: #FF8440;
    --midnightblue: #061323;
    --powderwhite: #EFF1F3;
    --futuristicgrey: #BBCBD1;
    --scandiumdark: #9CABB0;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: aktiv-grotesk,
        sans-serif;
}

main {
    overflow-x: hidden;
}

/* SPECIFICATIONS */

.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--powderwhite);
    width: 100vw;
    height: 100vh;
}

.action-text {
    margin-bottom: 8em;
    margin-left: 5vw;
}

.action-text p {
    margin-top: 1em;
}

.input-button-wrapper {
    display: flex;
    flex-direction: column;
}

input {
    align-self: center;
    outline: none;
    border: none;
    background-color: var(--scandiumdark);
    width: 90vw;
    height: 4em;
}

input::placeholder {
    font-size: 2em;
    text-align: center;
}

input:focus::placeholder {
    color: transparent;
}

button {
    align-self: center;
    width: 70vw;
    height: 8vh;
    outline: none;
    border: none;
    border-radius: 0.25em;
    margin-top: 1.5em;
    font-size: 1.5em;
}


/* CONTACT */

.contact {
    width: 100vw;
    height: 100vh;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}