* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
}

/* NAVIGATION */

.hamburgermenu {
    width: 20px;
    height: auto;
}

nav {
    display: flex;
}

/* FRONT PAGE */

.frontpage {
    width: 100vw;
    height: 100vh;
}

/* SPECIFICATIONS */

.specs {
    width: 100vw;
    height: 100vh;
}

/* MERCHANDISE */

.merch {
    width: 100vw;
    height: 100vh;
}

/* CONTACT */

.contact {
    width: 100vw;
    height: 100vh;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}