.specification-container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.specification-container img {
    width: 100vw;
    max-height: 100vh;
}

.specification-container h2 {
    color: var(--powderwhite);
    font-size: 1.8em;
}

@media (min-width: 1024px) {}